@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap');

$green: green;
$gold: goldenrod;
$font-family: 'Radio Canada', sans-serif;
$blue-light: #56ccf2;
$blue-dark: #2f80ed;
