@import "imports/variables";

body {
  font-family: $font-family;
  background: linear-gradient(to bottom, $blue-light, $blue-dark);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}
