@import "imports/variables";

body {
  font-family: $font-family;
  background: linear-gradient(to bottom, $blue-light, $blue-dark);
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
